body {
	font-family: Helvetica;
	text-align: center;
}

h1 {
	font-size: 70px;
	font-weight: bold;
}

a {
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.header {
	background-image: url("/Users/amelgoza/Desktop/Projects/BroadwayDesign/resources/img/the-flatiron-building.png");
	color: white;
}

h2 {
	font-size: 32px;
	font-weight: bold;
}

.section h3 {
	font-size: 23px;
	font-weight: bold;
}

.section p {
	font-size: 14px;
}

#divider {
	color: white;
	font-size: 23px;
	font-weight: bold;
	background-image: url("/Users/amelgoza/Desktop/Projects/BroadwayDesign/resources/img/the-flatiron-building.png");
}